<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Meta.Title}}</title>
    <meta name="description" content="{{.Meta.Description}}">
    <meta name="keywords" content="{{.Meta.Keywords}}">
    <meta name="author" content="{{.Meta.Author}}">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body class="text-[black] text-base leading-[1.4] min-h-full break-words m-0 font-mono">
    <main>
        <div class="max-w-screen-sm mx-auto my-0 px-8 py-16">
            <a href="/" class="text-blue-600 underline">..</a>

            <header class="text-center py-4">
                <h1 class="text-4xl font-bold text-gray-800">Sobre Mim</h1>
            </header>
            <p>Olá! Eu sou Patrick Luz, desenvolvedor apaixonado por tecnologia.</p>
            <br />
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/patrickluzdev/" target="_blank"
                        class="text-blue-600 underline">Linkedin</a>
                </li>
                <li>
                    <a href="https://github.com/otaudopatrick" class="text-blue-600 underline">Github</a>
                </li>
            </ul>
        </div>

    </main>
</body>

</html>