<div class="markdown-content max-w-screen-sm mx-auto my-0 px-8 py-16">
    <%= markdown(@markdown_content) %>
</div>
<script src="https://utteranc.es/client.js"
        repo="otaudopatrick/my-blog"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>