@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


.markdown-content {
  @apply prose;
}

p{
  @apply leading-[1.4]
}


ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul ul {
  list-style-type: circle;
  margin-left: 20px;
}

ul ul ul {
  list-style-type: square;
  margin-left: 20px;
}